:root {
	--font-family: "Noto Sans KR", serif;
	--black-color: #000;
	--vh: 100%;
}

/* font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;900&family=Poppins&display=swap');

/* Normalize */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	vertical-align: bottom;
}

table {
	border-collapse: collapse;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

button,
input,
select,
textarea {
	font-family: inherit;
	outline: none;
	border: none;
}

button {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

.img {
	width: 100%;
	height: auto;
	image-rendering: -webkit-optimize-contrast;
	transform: translateZ(0);
	backface-visibility: hidden;
}

body {
	font-family: var(--font-family);
	color: var(--black-color);
}

/*공통 */
.tooltip_wrap {
	position: relative;
	display: inline-block;

	.tooltip_btn {
		width: 12px;
		height: 12px;
		background: url('../img/ic-tooltip.svg') no-repeat center;
		margin-left: 4px;
	}

	.tool {
		display: none;
		position: absolute;
		top: -10px;
		left: 28px;
		width: 106px;
		white-space: normal;
		border: 1px solid #ddd;
		border-radius: 8px;
		background-color: #fff;
		padding: 9px 17px;
		box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.16);
		z-index: 99;

		&::before {
			content: '';
			position: absolute;
			top: 16px;
			left: -9px;
			width: 0;
			height: 0;
			border-top: 7px solid transparent;
			border-bottom: 7px solid transparent;
			border-right: 10px solid #fff;
			z-index: 100;
		}

		&::after {
			content: '';
			position: absolute;
			top: 17px;
			left: -11px;
			width: 0;
			height: 0;
			border-top: 6px solid transparent;
			border-bottom: 6px solid transparent;
			border-right: 10px solid rgba(0, 0, 0, 0.1);
			z-index: 90;
		}

		&.right_tail::before {
			left: auto;
			right: -9px;
			border-right: none;
			border-left: 10px solid #fff;
		}

		&.right_tail::after {
			left: auto;
			right: -11px;
			border-right: none;
			border-left: 10px solid rgba(0, 0, 0, 0.1);

		}

		li {
			font-size: 12px;
			font-weight: normal;
			line-height: 1.17;
		}

		.close_btn {
			position: absolute;
			top: 6px;
			right: 6px;
			width: 7px;
			height: 7px;
			background: url('../img/ic-x.svg') no-repeat center/contain;
			cursor: pointer;
		}
	}
}

.weather_img,
.weather_icon {

	&.bitcloud {
		background: url('../img/ic-bitcloud.png') no-repeat center/contain;
	}

	&.cloud {
		background: url('../img/ic-cloud.png') no-repeat center/contain;
	}

	&.bigcloud {
		background: url('../img/ic-bigcloud.png') no-repeat center/contain;
	}

	&.rain {
		background: url('../img/ic-rain.png') no-repeat center/contain;
	}

	&.rainbow {
		background: url('../img/ic-rainbow.png') no-repeat center/contain;
	}

	&.snow {
		background: url('../img/ic-snow.png') no-repeat center/contain;
	}

	&.sun {
		background: url('../img/ic-sun.png') no-repeat center/contain;
	}
}

/* 제플릿 날씨 에셋 순서 */
.weather_mini_icon {
	&.icon1 {
		background: url('../img/weather_1.svg') no-repeat center/contain;
	}

	&.icon2 {
		background: url('../img/weather_2.svg') no-repeat center/contain;
	}

	&.icon3 {
		background: url('../img/weather_3.svg') no-repeat center/contain;
	}

	&.icon4 {
		background: url('../img/weather_4.svg') no-repeat center/contain;
	}

	&.icon5 {
		background: url('../img/weather_5.svg') no-repeat center/contain;
	}

	&.icon6 {
		background: url('../img/weather_6.svg') no-repeat center/contain;
	}

	&.icon7 {
		background: url('../img/weather_7.svg') no-repeat center/contain;
	}

	&.icon8 {
		background: url('../img/weather_8.svg') no-repeat center/contain;
	}

	&.icon9 {
		background: url('../img/weather_9.svg') no-repeat center/contain;
	}

	&.icon10 {
		background: url('../img/weather_10.svg') no-repeat center/contain;
	}

	&.icon11 {
		background: url('../img/weather_11.svg') no-repeat center/contain;
	}

	&.icon12 {
		background: url('../img/weather_12.svg') no-repeat center/contain;
	}

	&.icon13 {
		background: url('../img/weather_13.svg') no-repeat center/contain;
	}

	&.icon14 {
		background: url('../img/weather_14.svg') no-repeat center/contain;
	}

	&.icon15 {
		background: url('../img/weather_15.svg') no-repeat center/contain;
	}

	&.icon16 {
		background: url('../img/weather_16.svg') no-repeat center/contain;
	}
}

/* wrap */
.wrap {
	padding: 16px;
	overflow: hidden;

	.wrapper {
		max-width: 1280px;
		width: 100%;
		margin: auto;

		.box_group {
			display: flex;
			column-gap: 32px;

			h3 {
				font-size: 20px;
			}
		}

		.box_group1 {
			.left {
				flex: 1;
				max-width: 943px;

				.box1 {
					border: 1px solid #f0f0f0;
					border-radius: 10px;
					background-color: #fff;
					padding: 20px;

					.area_wrap {
						display: flex;
						justify-content: space-between;

						.position {
							display: flex;
							align-items: center;

							.like_btn {
								width: 22px;
								height: 22px;
								background: url('../img/ic-star-off.svg') no-repeat center/contain;
								margin-right: 8px;

								&.active {
									background: url('../img/ic-star-on.svg') no-repeat center/contain;
								}
							}

							h3 {
								font-size: 16px;
							}

							.position_btn {
								width: 22px;
								height: 22px;
								background: url('../img/ic-target-01.svg') no-repeat center/contain;
								margin-left: 8px;
							}
						}

						.area {
							display: flex;
							align-items: center;

							.tooltip_wrap .tool {
								left: -115px;
							}

							.area_btn {
								display: inline-flex;
								align-items: center;
								font-size: 16px;
								border-radius: 6px;
								border: 1px solid #c4c4c4;
								background-color: #fff;
								padding: 5px 15px 5px 13px;
								margin-left: 4px;

								&::before {
									content: "";
									width: 17px;
									height: 17px;
									background: url('../img/ic-target-02.svg') no-repeat center;
									margin-right: 6px;
								}
							}
						}
					}

					.group_wrap {
						display: flex;
						justify-content: space-between;
						margin-top: 15px;

						li {
							flex: 50%;
							text-align: center;

							&.mo {
								position: relative;
								display: none;

								&.active1 {
									border-left: 1px solid #c4c4c4;
									border-right: none;

									.more_btn2 {
										display: none;
									}
								}

								&.active2 {
									border-right: 1px solid #c4c4c4;
									border-left: none;

									.more_btn1 {
										display: none;
									}
								}

								.more_btn {
									position: absolute;
									top: 50%;
									transform: translateY(-50%);
									width: 22px;
									height: 22px;
									background: url('../img/ic-arrow-02.svg') no-repeat center;

									&.more_btn1 {
										left: -11px;
									}

									&.more_btn2 {
										right: -11px;
									}
								}

								.date {
									font-size: 14px;
								}

								.time {
									font-size: 14px;
									font-weight: 500;
									color: #666;
									margin-top: 6px;
								}

								.weather_icon {
									display: inline-block;
									width: 30px;
									height: 30px;
									margin-top: 6px;
								}

								.weather {
									font-size: 14px;
									font-weight: 500;
									margin-top: 14px;
								}

								.rainfall {
									display: inline-flex;
									align-items: center;
									font-size: 14px;
									font-weight: bold;
									margin-top: 7px;

									.rainfall_icon {
										width: 15px;
										height: 15px;
										background: url('../img/25391.svg') no-repeat center/contain;
										margin: 2px 4px 0 0;
									}
								}
							}

							.label {
								font-size: 12px;
								font-weight: bold;
								border: 1px solid #c4c4c4;
								border-radius: 13px;
								background-color: #f0f0f0;
								padding: 3px 15px 4px;
							}

							.temperature_wrap {
								display: flex;
								align-items: center;
								justify-content: center;
								margin-left: 13px;

								.weather_img {
									display: inline-block;
									width: 58px;
									height: 58px;
								}

								strong {
									position: relative;
									top: -8px;
									left: -13px;
									font-size: 60px;
									font-weight: 800;
									line-height: 1.3;
									letter-spacing: -2.4px;

									span {
										position: relative;
										top: -13px;
										left: -4px;
										font-size: 54px;
										font-weight: normal;
									}
								}
							}

							.cont1 {
								font-size: 16px;

								span {
									margin-left: 8px;
								}
							}

							.cont2 {
								margin-top: 8px;
								font-size: 14px;

								span:not(:last-child) {

									&::after {
										content: "";
										display: inline-block;
										width: 1px;
										height: 12px;
										background-color: #d6d6d6;
										margin: 0 9px 0 6px;
									}
								}

								strong {
									font-weight: 900;
								}
							}

							.temperature {
								display: flex;
								justify-content: center;
								column-gap: 30px;
								margin-top: 4px;

								&>div {
									text-align: center;

									div {
										font-size: 14px;
										color: #666;
									}

									strong {
										font-size: 54px;
										font-weight: 800;
										line-height: 1;
										letter-spacing: -2.16px;

										span {
											position: relative;
											top: -18px;
											left: -2px;
											font-size: 40px;
											font-weight: normal;
										}

										&.blue {
											position: relative;

											&::after {
												position: absolute;
												top: 30px;
												content: "/";
												color: #777;
												font-size: 22px;
												font-weight: 500;
												margin: 0 14px 0 10px;
											}
										}
									}
								}
							}

							.cont_wrap {
								display: flex;
								justify-content: center;
								margin-top: 8px;

								.tooltip_wrap {
									.tooltip_btn {
										position: relative;
										top: 14px;
										left: -30px;
									}

									.tool {
										top: 3px;
										left: 0px;
									}
								}

								.cont3 {
									&>div {
										display: flex;
										justify-content: center;
										align-items: center;
										font-size: 14px;
										font-weight: 500;

										&:not(:last-child) {
											margin-bottom: 4px;
										}

										.title {
											color: #666;
										}

										.weather {
											display: inline-flex;
											align-items: center;

											.weather_mini_icon {
												width: 18px;
												height: 18px;
												margin: 0 8px 0 6px;
											}
										}

										.rainfall {
											display: inline-flex;
											align-items: center;

											.rainfall_icon {
												width: 15px;
												height: 15px;
												background: url('../img/25391.svg') no-repeat center/contain;
												margin: 0 8px 0 6px;
											}
										}
									}
								}
							}
						}
					}

					.swiper.swiper1 {
						position: relative;
						border-top: 1px solid #eee;
						margin-top: 25px;
						padding-top: 11px;
						padding-right: 35px;

						&::after {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							width: 68px;
							height: 231px;
							background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.81) 52%, #fff);
							z-index: 900;
						}

						.swiper-slide {
							width: auto;
						}

						.swiper-button-prev {
							left: 0;
							width: 30px;
							height: 30px;
							background: url('../img/ic-arrow-01.svg') no-repeat center;
							z-index: 901;
							transform: rotate(180deg);

							&::after {
								content: none;
							}

							&:hover {
								background: url('../img/ic-arrow-01-hover.svg') no-repeat center;
							}

							&.swiper-button-disabled {
								background: url('../img/ic-arrow-01-disabled.svg') no-repeat center;
								background: none;
							}
						}

						.swiper-button-next {
							right: 0;
							width: 30px;
							height: 30px;
							background: url('../img/ic-arrow-01.svg') no-repeat center;
							z-index: 901;


							&::after {
								content: none;
							}

							&:hover {
								background: url('../img/ic-arrow-01-hover.svg') no-repeat center;
							}

							&.swiper-button-disabled {
								background: url('../img/ic-arrow-01-disabled.svg') no-repeat center;
								background: none;
							}
						}
					}

					.table_wrap {
						display: flex;

						.left {
							min-width: 61px;
							font-size: 12px;
							font-weight: 500;
							color: #222;
							margin: 25px 0 0 10px;

							span {
								font-size: 9px;

								&.label {
									font-size: 11px;
									font-weight: 500;
									color: #fff;
									border-radius: 11px;
									padding: 2px 11px 3px;

									&.black {
										background-color: #333;
									}
								}
							}

							li:nth-child(1) {
								height: 118px;
								border-top: 1px solid #e9e9e9;
								border-bottom: 1px solid #e9e9e9;
								padding-top: 20px;
							}

							li:nth-child(2),
							li:nth-child(3) {
								height: 32px;
								border-bottom: 1px solid #e9e9e9;
								padding-top: 7px;
							}

							li:nth-child(4) {
								padding-top: 15px;
							}
						}
					}

					table {
						width: 100%;
						text-align: center;

						thead {
							border-bottom: 1px solid #e9e9e9;

							tr {
								th {
									min-width: 58px;
									padding: 7px 0 5px;

									.label {
										position: relative;
										top: -3px;
										font-size: 11px;
										font-weight: 500;
										color: #fff;
										border-radius: 11px;
										padding: 2px 11px 3px;

										&.black {
											background-color: #333;
										}

										&.blue {
											background-color: #126ccd;
										}
									}

									.time {
										font-size: 11px;
										color: #666;
										margin-bottom: 3px;
									}

									.weather_icon {
										width: 30px;
										height: 30px;
										display: inline-block;
									}

									.temperature {
										font-size: 12px;
										font-weight: bold;
									}

									.rainfall_rate {
										font-size: 9px;
										font-weight: 500;
										color: #126ccd;
										margin-top: 4px;
									}
								}
							}
						}

						tbody {
							tr {

								&:not(:last-child) {
									border-bottom: 1px solid #e9e9e9;
								}

								.grey {
									color: #c4c4c4;
								}

								td {
									font-size: 12px;
									font-weight: 500;
									color: #126ccd;
									padding: 7px 0;
								}

								.title {
									color: #222;

									span {
										font-size: 9px;
									}
								}

								.wing_icon {
									width: 14px;
									height: 14px;
									display: block;
									background: url('../img/arrow.svg') no-repeat center;
									margin: 1px auto 0;

									&.active {
										transform: rotate(35deg);
									}
								}
							}
						}
					}
				}

				.banner {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 90px;
					border-radius: 10px;
					background-color: #e9e9e9;
					margin-top: 30px;
				}

				.box2 {
					margin-top: 30px;

					.title_wrap {
						display: flex;
						align-items: center;
					}

					.list_wrap {
						display: flex;
						column-gap: 16px;
						margin-top: 16px;

						li {
							display: flex;
							justify-content: space-between;
							align-items: center;
							flex: 1;
							height: 70px;
							color: #222;
							border-radius: 12px;
							border: 1px solid #e9e9e9;
							background-color: #fff;
							padding: 0 38px;

							&.mo {
								display: none;
							}

							.date {
								text-align: center;

								&.red {
									color: #f44;
								}

								strong {
									font-size: 16px;
								}

								div {
									font-size: 14px;
									margin-top: 1px;
								}
							}

							.rainfall {
								display: flex;
								column-gap: 34px;

								&>div {
									text-align: center;

									div {
										font-size: 14px;
									}

									strong {
										display: inline-flex;
										align-items: center;
										font-size: 16px;
										color: #126ccd;
										margin-top: 2px;
									}

									.weather_img {
										width: 28px;
										height: 28px;
										margin-right: 8px;
									}
								}
							}

							.temperature {
								display: flex;

								&>div {
									div {
										font-size: 14px;

										&.lowest {
											&::after {
												content: "/";
												color: #c4c4c4;
												font-size: 11px;
												font-weight: bold;
												margin: 0 5px;
											}
										}
									}

									strong {
										font-size: 18px;
										margin-top: 1px;

										&.blue {
											color: #126ccd;

											&::after {
												content: "/";
												color: #c4c4c4;
												font-size: 11px;
												font-weight: bold;
												margin: 0 5px 0 2px;
											}
										}

										&.red {
											color: #f44;
										}
									}
								}
							}
						}
					}

					.mo.banner {
						display: none;
					}

					.swiper.swiper2 {
						position: relative;
						margin-top: 18px;
						padding-right: 45px;

						&::after {
							content: "";
							position: absolute;
							top: 0;
							right: 0;
							width: 95px;
							height: 114px;
							background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.81) 52%, #fff);
							z-index: 900;
						}

						.swiper-wrapper {
							width: 100%;

							.swiper-slide {
								width: 90px;
								text-align: center;

								.title {
									font-size: 16px;

									&.red {
										color: #f44;
									}
								}

								.cont_group {
									display: flex;
									column-gap: 22px;
									margin: 6px auto;

									.weather_img {
										display: block;
										width: 34px;
										height: 34px;
									}

									strong {
										font-size: 20px;
										margin-top: 2px;

										&.blue {
											color: #126ccd;
										}

										&.red {
											color: #f44;
										}
									}

									.probability {
										font-size: 12px;
										color: #126ccd;
									}
								}
							}
						}

						.swiper-button-prev {
							left: 0;
							width: 30px;
							height: 30px;
							background: url('../img/ic-arrow-01.svg') no-repeat center;
							z-index: 901;
							transform: rotate(180deg);

							&::after {
								content: none;
							}

							&:hover {
								background: url('../img/ic-arrow-01-hover.svg') no-repeat center;
							}

							&.swiper-button-disabled {
								background: url('../img/ic-arrow-01-disabled.svg') no-repeat center;
								background: none;
							}
						}

						.swiper-button-next {
							right: 0;
							width: 30px;
							height: 30px;
							background: url('../img/ic-arrow-01.svg') no-repeat center;
							z-index: 901;

							&::after {
								content: none;
							}

							&:hover {
								background: url('../img/ic-arrow-01-hover.svg') no-repeat center;
							}

							&.swiper-button-disabled {
								background: url('../img/ic-arrow-01-disabled.svg') no-repeat center;
								background: none;
							}
						}
					}
				}
			}

			.right {
				width: 305px;

				.box1 {

					.title_wrap {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.title {
							font-size: 22px;
						}

						.warning {
							display: flex;
							align-items: center;
							font-size: 14px;
							font-weight: 500;
							color: #fff;
							border-radius: 4px;
							background-color: #f44;
							padding: 5px 9px;

							&::before {
								content: "";
								width: 22px;
								height: 20px;
								background: url('../img/ico-warning.svg') no-repeat center;
								margin-right: 3px;
							}
						}
					}

					.tab_wrap {
						display: flex;
						justify-content: space-between;
						column-gap: 10px;
						padding: 0 15px;
						margin-top: 16px;

						li {
							flex-shrink: 0;

							button {
								min-width: 26px;
								font-size: 14px;
								font-weight: 500;
								color: #777;

								background-color: transparent;

								&.active {
									color: #126ccd;
									font-weight: bold;
									border-bottom: 2px solid #126ccd;
								}

								span {
									display: block;
									font-size: 10px;
									margin: 2px 0;
								}
							}
						}
					}

					.tabcontent {
						display: flex;
						justify-content: center;
						align-items: center;
						width: 100%;
						height: 396px;
						background-color: #85c6f8;
						border-radius: 10px;
						padding: 30px 12px 18px;
						margin-top: 10px;

						.map {
							position: relative;
							width: 244px;
							height: 332px;
							background: url('../img/img-map.svg') no-repeat center;

							a {
								display: flex;
								flex-direction: column;
								justify-content: center;
								align-items: center;
								position: absolute;

								&.map_1 {
									top: 22px;
									left: 60px;
								}

								&.map_2 {
									top: -5px;
									left: 114px;
								}

								&.map_3 {
									top: 10px;
									left: -18px;
								}

								&.map_4 {
									top: 36px;
									right: 30px;
								}

								&.map_5 {
									top: 55px;
									left: 114px;
								}

								&.map_6 {
									top: 74px;
									left: 20px;
								}

								&.map_7 {
									top: 130px;
									left: 24px;
								}

								&.map_8 {
									top: 108px;
									left: 76px;
								}

								&.map_9 {
									top: 106px;
									right: 50px;
								}

								&.map_10 {
									top: 110px;
									right: -8px;
								}

								&.map_11 {
									top: 156px;
									right: 20px;
								}

								&.map_12 {
									top: 160px;
									right: 84px;
								}

								&.map_13 {
									top: 192px;
									left: 34px;
								}

								&.map_14 {
									top: 238px;
									left: 6px;
								}

								&.map_15 {
									top: 220px;
									left: 76px;
								}

								&.map_16 {
									top: 218px;
									right: 50px;
								}

								&.map_17 {
									bottom: -11px;
									left: 10px;
								}

								.weather_icon {
									display: inline-block;
									width: 30px;
									height: 30px;
								}

								.area {
									position: relative;
									top: -2px;
									font-size: 11px;
									font-weight: 500;
									color: 222;
								}
							}
						}
					}
				}

				.banner {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 90px;
					border-radius: 10px;
					background-color: #e9e9e9;
					margin-top: 30px;
				}

				.box2 {
					border-radius: 12px;
					border: 1px solid #e9e9e9;
					background-color: #fff;
					padding: 16px 13px;
					margin-top: 30px;

					.title_wrap {
						display: flex;
						justify-content: space-between;
						align-items: center;

						.title {
							font-size: 16px;
							font-weight: 500;
							color: #126ccd;
						}

						.more {
							display: flex;
							align-items: center;
							font-size: 10px;
							font-weight: 500;
							color: #777;

							&::after {
								content: "";
								width: 8px;
								height: 8px;
								background: url('../img/ico-more.svg');
								margin-right: 2px;
							}
						}
					}

					.news_wrap {
						display: flex;
						margin-top: 10px;

						.img_box {
							flex-shrink: 0;
							width: 120px;
							height: 74px;
							background-color: #e9e9e9;
							margin-right: 8px;
						}

						.img_content {
							h5 {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								font-size: 12px;
								font-weight: 500;
								line-height: 1.33;
								letter-spacing: -0.3px;
								margin-top: 2px;
							}

							p {
								display: -webkit-box;
								-webkit-line-clamp: 2;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								font-size: 10px;
								line-height: 1.6;
								letter-spacing: -0.25px;
								margin-top: 6px;
							}
						}
					}

					.news_list {
						margin-top: 14px;

						li {
							display: block;
							font-size: 12px;
							line-height: 1.43;
							letter-spacing: -0.3px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;

							&::before {
								content: "";
								position: relative;
								top: -2px;
								display: inline-block;
								width: 3px;
								height: 3px;
								border-radius: 50%;
								background-color: #000;
								margin-right: 8px;
							}

							&:nth-child(1) {
								font-weight: 500;
							}

							&:not(:last-child) {
								margin-bottom: 8px;
							}
						}
					}
				}
			}
		}

		.box_group2 {

			.left {
				flex: 1;

				.box_wrap {
					display: flex;
					column-gap: 16px;

					.mo_tab_wrap {
						display: none;
						column-gap: 16px;
						margin-top: 30px;

						button {
							position: relative;
							font-size: 20px;
							color: #c4c4c4;
							background-color: transparent;

							&:not(:last-child) {
								&::after {
									content: "";
									position: absolute;
									top: 6px;
									width: 1px;
									height: 18px;
									background-color: #e9e9e9;
									margin: 0 8px;
								}
							}

							&.active {
								font-weight: bold;
								color: #000;
							}
						}
					}

					.box1,
					.box2 {
						display: flex;
						flex-direction: column;
						flex: 1;
						row-gap: 16px;
						margin-top: 30px;

						.img_box {
							position: relative;
							width: 100%;
							height: 447px;
							background-color: #e9e9e9;
							font-size: 16px;

							.range_wrap {
								position: absolute;
								bottom: 15px;
								display: flex;
								align-items: center;
								width: calc(100% - 52px);
								border-radius: 4px;
								background-color: rgba(31, 29, 43, 0.8);
								padding: 0 15px 0 18px;
								margin: 0 26px;
								z-index: 2;

								button {
									width: 16px;
									height: 16px;
									background: url('../img/ico-play.svg') no-repeat center;
									margin-right: 10px;

									&.start_btn {
										background: url('../img/ico-play.svg') no-repeat center;
									}

									&.stop_btn {
										background: url('../img/ico-stop.svg') no-repeat center;
									}
								}

								.range_bar {
									position: relative;
									width: 100%;

									input[type="range"] {
										appearance: none;
										position: relative;
										top: -4px;
										width: 100%;
										height: 3px;
										outline: none;
										margin: 0;
										padding: 0;
										border-radius: 2px;
										background-color: #c9c9c9;
										cursor: pointer;
									}

									input[type="range"]::-webkit-slider-thumb {
										appearance: none;
										position: relative;
										width: 18px;
										height: 18px;
										border-radius: 50%;
										background-color: #126ccd;
										box-shadow: 1px 1px 1px 1px rgba(14, 41, 69, 0.6);
										transition: all 0.15s ease-in-out;
										z-index: 10;
									}

									.tooltip {
										position: absolute;
										top: -37px;
										left: 10px;
										font-size: 13px;
										font-weight: 500;
										white-space: nowrap;
										color: #fff;
										background: #126ccd;
										padding: 3px 13px 4px;
										border-radius: 20px;
										transform: translateX(-50%);
										transition: left 0.1s linear;
										pointer-events: none;

										&::after {
											content: "";
											position: absolute;
											bottom: -6px;
											left: 50%;
											width: 0;
											height: 0;
											border-left: 8px solid transparent;
											border-right: 8px solid transparent;
											border-top: 8px solid #126ccd;
											z-index: 100;
											transform: translateX(-50%);
										}
									}

									.labels {
										position: relative;
										top: -6px;
										display: flex;
										justify-content: space-between;
										width: 100%;
										font-size: 13px;
										color: #fff;

										span {
											position: relative;

											&::before {
												content: "";
												position: absolute;
												left: 50%;
												top: -6px;
												display: block;
												width: 3px;
												height: 3px;
												background-color: #fff;
											}

											&:nth-child(2) {
												left: 13px;
											}

											&:nth-child(4) {
												right: 13px;
											}

											&:first-child::before,
											&:last-child::before {
												content: none;
											}
										}
									}
								}
							}
						}
					}
				}

				.box3 {
					margin-top: 30px;

					.group_wrap {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-top: 20px;
					}

					.graph_wrap {
						position: relative;
						display: flex;
						column-gap: 32px;
						padding-right: 35px;

						&::before {
							content: "";
							position: absolute;
							top: 50%;
							right: 0;
							transform: translateY(-50%);
							width: 1px;
							height: 106px;
							background-color: #eee;
						}

						li {
							display: flex;
							align-items: center;

							.donut_graph {
								position: relative;
								width: 120px;
								height: 120px;
								margin-right: 24px;
								display: flex;
								align-items: center;
								justify-content: center;

								.graph_circle {
									transform: rotate(-90deg);

									circle {
										fill: none;
										stroke-width: 11;
										transform-origin: center;
									}

									.bg {
										&.green {
											stroke: #d7f7e0;
										}

										&.blue {
											stroke: #dff0ff;
										}
									}

									.progress {
										stroke-linecap: round;
										stroke-dasharray: 339.292;
										stroke-dashoffset: 339.292;
										transition: stroke-dashoffset 0.3s ease;

										&.green {
											stroke: #01c63a;
										}

										&.blue {
											stroke: #2ea0ff;
										}
									}
								}

								.graph_text {
									position: absolute;
									top: 50%;
									transform: translateY(-55%);
									font-weight: bold;
									font-size: 36px;

									&.green {
										color: #01c63a;
									}

									&.blue {
										color: #2ea0ff;
									}
								}
							}

							.graph_state {
								font-size: 16px;

								.title {
									font-weight: 500;
								}

								.state {
									display: flex;
									align-items: center;
									margin-top: 11px;

									&::before {
										content: "";
										width: 18px;
										height: 18px;
										margin-right: 5px;
									}
								}

								.info {
									font-weight: 500;
									color: #000;
									margin-top: 8px;
								}

								&.good {
									color: #2ea0ff;

									.state {
										&::before {
											background: url('../img/good_icon.svg') no-repeat center/contain;
										}
									}
								}

								&.normal {
									color: #01c63a;

									.state {
										&::before {
											background: url('../img/normal_icon.svg') no-repeat center/contain;
										}
									}
								}

								&.warning {
									color: #ff9d47;

									.state {
										&::before {
											background: url('../img/warning_icon.svg') no-repeat center/contain;
										}
									}
								}

								&.dangers {
									color: #f23116;

									.state {
										&::before {
											background: url('../img/dangers_icon.svg') no-repeat center/contain;
										}
									}
								}
							}
						}
					}

					.tomorrow_wrap {
						position: relative;

						li {
							display: flex;

							&:not(:last-child) {
								margin-bottom: 8px;
							}

							.title {
								font-size: 16px;
								margin-right: 8px;
							}

							.cont {
								display: flex;
								align-items: center;
								font-size: 16px;

								.sub_title {
									font-size: 16px;
									color: #c4c4c4;
									margin-right: 6px;
								}

								.state {
									display: flex;
									align-items: center;


									&::before {
										content: "";
										width: 17px;
										height: 17px;

										margin-right: 5px;
									}

									&.good {
										color: #2ea0ff;

										&::before {
											background: url('../img/good_icon.svg') no-repeat center/contain;
										}
									}

									&.normal {
										color: #01c63a;

										&::before {
											background: url('../img/normal_icon.svg') no-repeat center/contain;
										}
									}

									&.warning {
										color: #ff9d47;

										&::before {
											background: url('../img/warning_icon.svg') no-repeat center/contain;
										}
									}

									&.dangers {
										color: #f23116;

										&::before {
											background: url('../img/dangers_icon.svg') no-repeat center/contain;
										}
									}
								}

								.slash {
									font-size: 12px;
									color: #eee;
									margin: 0 8px;
								}
							}
						}
					}

					.etc_wrap {
						display: flex;
						column-gap: 8px;
						margin-top: 20px;

						li {
							border-radius: 8px;
							border: 1px solid #e9e9e9;
							padding: 11px 16px;

							.title {
								font-size: 12px;
								font-weight: 500;
								margin-bottom: 1px;
							}

							.num {
								font-size: 18px;
								margin-right: 7px;
							}

							.state {
								font-size: 12px;
								font-weight: 500;
							}
						}
					}
				}

				.box4 {
					margin-top: 30px;

					.title_wrap {
						display: flex;
						align-items: center;
					}

					.quotient_wrap {
						display: flex;
						justify-content: center;
						column-gap: 80px;
						margin-top: 20px;

						li {
							width: 81px;
							display: flex;
							flex-direction: column;
							align-items: center;

							&::before {
								content: "";
								display: block;
								width: 81px;
								height: 81px;
							}

							.state {
								font-size: 16px;
								margin-top: 8px;
							}

							.title {
								font-size: 18px;
								font-weight: 500;
								margin-top: 4px;
								white-space: nowrap;
							}

							&.good {
								&::before {
									background: url('../img/good.svg') no-repeat center/contain;
								}

								.state {
									color: #2ea0ff;
								}
							}

							&.normal {
								&::before {
									background: url('../img/normal.svg') no-repeat center/contain;
								}

								.state {
									color: #01c63a;
								}
							}

							&.warning {
								&::before {
									background: url('../img/warning.svg') no-repeat center/contain;
								}

								.state {
									color: #ff9d47;
								}
							}

							&.dangers {
								&::before {
									background: url('../img/dangers.svg') no-repeat center/contain;
								}

								.state {
									color: #f23116;
								}
							}
						}
					}
				}

				.banner {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 90px;
					border-radius: 10px;
					background-color: #e9e9e9;
					margin-top: 30px;
				}
			}

			.right {
				width: 305px;

				.banner {
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100px;
					border-radius: 10px;
					background-color: #e9e9e9;
					margin-top: 30px;
				}

				.box1 {
					margin-top: 30px;


					.sunset_graph {
						display: flex;
						justify-content: center;
						align-items: flex-start;
						position: relative;
						width: 100%;
						max-width: 305px;
						height: 122px;
						margin: auto;

						&::before {
							content: "";
							position: absolute;
							top: 20px;
							width: 180px;
							height: 180px;
							border-radius: 50%;
							background: linear-gradient(to bottom, #fef7e5 50%, #fff 50%);
							z-index: -2;
						}

						svg {
							width: 200px;
							height: 100%;
						}

						.sun {
							position: absolute;
							width: 40px;
							height: 40px;
							transform: translate(-50%, -60%);
							background: url('../img/ic-sun.png') no-repeat center/contain;
							z-index: 20;
						}

						.text {
							position: absolute;
							bottom: 36px;
							width: 100%;
							font-size: 16px;
							font-weight: bold;
							text-align: center;
							color: #000;
						}

						.text span {
							font-size: 16px;
							font-weight: normal;
							color: #777;
						}
					}

					.list_wrap {
						display: flex;
						justify-content: space-between;
						margin-top: 4px;

						li {
							position: relative;
							display: flex;
							justify-content: center;
							align-items: center;
							flex: 50%;
							text-align: center;

							&::before {
								content: "";
								position: relative;
								top: 2px;
								width: 26px;
								height: 26px;
								margin-right: 8px;
							}

							&:first-child {
								&::before {
									background: url('../img/ico-sunrise.svg') no-repeat center;
								}

								padding-right: 4px;
							}

							&:last-child {
								&::before {
									background: url('../img/ico-sunset.svg') no-repeat center;
								}

								padding-left: 4px;
							}

							&:not(:last-child) {

								&::after {
									content: "";
									position: absolute;
									top: 50%;
									right: 0;
									transform: translateY(-50%);
									width: 1px;
									height: 18px;
									background-color: #e9e9e9;
								}
							}

							.title {
								font-size: 14px;
							}

							.title_sub {
								font-size: 12px;
								color: #777;
							}

							.time {
								font-size: 26px;
								margin-left: 4px;
							}
						}
					}

					.sub_list_wrap {
						display: flex;
						column-gap: 9px;
						margin-top: 17px;

						li {
							flex: 50%;
							text-align: center;
							border-radius: 6px;
							background-color: #f0f0f0;
							padding: 8px 7px;

							.title_wrap {
								display: flex;
								justify-content: center;
								align-items: center;
							}

							.title {
								font-size: 12px;
							}

							.date {
								font-size: 10px;
								color: #777;
								margin-left: 4px;
							}

							div {
								display: flex;
								justify-content: center;
								align-items: center;
								column-gap: 6px;
								margin-top: 3px;

								.time {
									display: inline-flex;
									align-items: center;
									font-size: 16px;

									&::before {
										content: "";
										width: 16px;
										height: 16px;
										margin-right: 4px;

									}

									&:first-child {
										&::before {
											background: url('../img/ico-sunrise.svg') no-repeat center/contain;
										}
									}

									&:last-child {
										&::before {
											background: url('../img/ico-sunset.svg') no-repeat center/contain;
										}
									}
								}
							}
						}
					}
				}

				.box2 {
					margin-top: 30px;

					.tab_wrap {
						display: flex;
						column-gap: 16px;

						button {
							position: relative;
							font-size: 20px;
							color: #c4c4c4;
							background-color: transparent;

							&:not(:last-child) {
								&::after {
									content: "";
									position: absolute;
									top: 6px;
									width: 1px;
									height: 18px;
									background-color: #e9e9e9;
									margin: 0 8px;
								}
							}

							&.active {
								font-weight: bold;
								color: #000;
							}
						}
					}

					.sub_tab_wrap {
						display: flex;
						border-radius: 4px;
						margin-top: 16px;
						overflow: hidden;
						border: 1px solid #e9e9e9;

						button {
							width: 100%;
							height: 36px;
							font-size: 14px;
							font-weight: 500;
							color: #777;
							background-color: #f0f0f0;

							&:not(:last-child) {
								border-right: 1px solid #e9e9e9;
							}

							&.active {
								color: #000;
								background-color: #fff;
							}
						}
					}

					.tabcontent {
						margin-top: 16px;

						.list_wrap {
							position: relative;

							&::before {
								content: "";
								position: absolute;
								top: 4px;
								width: 2px;
								height: calc(100% - 6px);
								background-color: #c4c4c4;
							}

							li {
								font-size: 14px;
								padding-left: 7px;

								&:not(:last-child) {
									margin-bottom: 4px;
								}

								.title {
									color: #777;
									margin-right: 8px;
								}
							}
						}

						p {
							font-size: 14px;
							line-height: 1.57;
							margin-top: 14px;
						}
					}
				}

				.box3 {
					position: relative;
					border-radius: 12px;
					border: 1px solid #e9e9e9;
					background-color: #fff;
					padding: 16px 20px;
					margin-top: 30px;

					.title_wrap {
						display: flex;
						align-items: center;

						h3 {
							font-size: 16px;
							font-weight: 500;
						}
					}

					.btn_wrap {
						position: absolute;
						display: flex;
						top: 16px;
						right: 16px;

						.report_btn {
							font-size: 8px;
							font-weight: bold;
							line-height: 1;
							letter-spacing: -0.2px;
							color: #f44;
							border-bottom: 1px solid #f44;
							background-color: transparent;
						}

						.close_btn {
							width: 8px;
							height: 8px;
							background: url('../img/ic-x.svg') no-repeat center;
							margin-left: 10px;
						}
					}



					.list_wrap {
						display: flex;
						flex-wrap: wrap;
						gap: 8px;
						margin-top: 16px;

						li {
							font-size: 11px;
							font-weight: 500;
							border-radius: 4px;
							border: 1px solid #e9e9e9;
							background-color: #fff;

							a {
								display: flex;
								flex-grow: 1;
								padding: 3px 7px;
							}
						}
					}
				}
			}
		}
	}
}

/* 반응형 */
@media (max-width: 1330px) {
	.scroll_x {
		overflow-x: auto;
		user-select: none;
		scrollbar-width: none;
		-ms-overflow-style: none;
	}

	.scroll_x::-webkit-scrollbar {
		display: none;
	}

	.wrap {
		.wrapper {
			max-width: 943px;

			.box_group {
				flex-direction: column;

				.left {
					max-width: 100%;
				}
			}

			.box_group1 {
				.left {
					.box2 {
						.list_wrap {
							li {
								padding: 0 18px;

								.rainfall {
									column-gap: 14px;
								}
							}
						}
					}
				}

				.right {
					width: 100%;
					margin-top: 30px;
				}
			}

			.box_group2 {
				.left {
					.box3 {

						.group_wrap {
							align-items: flex-start;
							flex-direction: column;
						}

						.graph_wrap {
							width: 100%;
							padding-right: 0;
							padding-bottom: 10px;

							li {
								flex-shrink: 0;
							}

							&::before {
								content: none;
							}
						}

						.etc_wrap {
							margin-top: 15px;

							li {
								flex-shrink: 0;
							}
						}
					}

					.box4 {
						.quotient_wrap {
							justify-content: flex-start;
						}
					}

					.banner {
						display: none;
					}
				}

				.right {
					width: 100%;

					.box1 {
						.group {
							display: flex;

							&>div {
								flex: 60%;
							}
						}

						.sub_list_wrap {
							flex: 40%;
							row-gap: 10px;
							flex-direction: column;

							li {
								display: flex;
								justify-content: space-between;
								align-items: center;
								padding: 8px 16px;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.wrap {
		.wrapper {
			.box_group1 {
				.left {
					.box1 {
						border: none;
						padding: 10px 0 16px 0;

						.group_wrap {
							margin-top: 21px;

							li {
								flex-shrink: 0;

								&.first {
									flex: calc(100% - 112px);
									flex-shrink: 0;
								}

								&.mo {
									display: block;
									max-width: 112px;
								}

								&.second {
									flex: calc(100% - 112px);
								}

								.cont_wrap .tooltip_wrap {
									.tooltip_btn {
										left: -10px;
									}

									.tool {
										left: 15px;
									}
								}
							}
						}
					}

					.box2 {
						.list_wrap {
							flex-direction: column;
							row-gap: 4px;

							li {
								border: none;
								padding: 0 16px;

								&:first-child {
									.date {
										color: #222;
									}
								}

								&.mo {
									display: flex;
								}

								.date {
									color: #424242;

									strong {
										font-size: 14px;
									}

									div {
										font-size: 12px;
									}
								}

								.rainfall {
									column-gap: 10px;

									&>div {
										.weather_img {
											margin-right: 2px;
										}

										div {
											font-size: 12px;

										}

										strong {
											font-size: 13px;
										}
									}
								}

								.temperature {
									&>div {
										div {
											font-size: 12px;
										}

										strong {
											font-size: 16px;
										}
									}
								}
							}
						}

						.swiper2 {
							display: none;
						}

						.mo.banner {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 90px;
							border-radius: 10px;
							background-color: #e9e9e9;
						}
					}

					.banner {
						height: 480px;
					}
				}

				.right .box1 .title_wrap .title {
					font-size: 20px;
				}
			}

			.box_group2 {
				.left {
					.box_wrap {
						flex-direction: column;

						.mo_tab_wrap {
							display: flex;
						}

						.mo_tabcontent {
							margin-top: 15px;

							h3 {
								display: none;
							}
						}

						.box1,
						.box2 {
							.img_box {
								height: 317px;
							}
						}
					}

					.box3 {
						.graph_wrap {
							column-gap: 20px;
						}
					}

					.box4 {
						.quotient_wrap {
							column-gap: 50px;
						}
					}
				}

				.right {
					.box1 {
						.group {
							display: block;
						}

						.sub_list_wrap {
							flex-direction: row;
							margin: 17px auto 0;

							li {
								display: block;
								padding: 8px 7px;
							}
						}
					}
				}
			}
		}
	}
}